{% extends "base.html" %}
{% block title %}Wiigle Error{% endblock %}
{% block body %}
<div class="topbar">Simple Web Search for Wii</div>
<div class="page">
  <p><a href="/" style="text-decoration:none"><span class="logo small-logo"><span class="w1">W</span><span class="w2">i</span><span class="w3">i</span><span class="w4">g</span><span class="w5">l</span><span class="w6">e</span></span></a></p>
  <div class="notice">{{ message }}</div>
  <p><a href="/">Return to Wiigle</a></p>
</div>
{% endblock %}